.menu-card {
    display: flex;
    justify-content: top;
    flex-direction: column;
    height: auto;
    width: 100%;
    background: white;
    margin-right: 0;
}

.card-options {
    color: #383838;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}