.button-modify-item {
  background-color: orange;
  width: 100%;
}

.button-delete-item {
  background-color: #d60e0e;
  width: 100%;
  align-items: center;
}

.button-new-item {
  background-color: green;
  width: 100%;
}

.button-disabled {
  background-color: rgb(130, 133, 130);
  width: 100%;
}

.row-action-buttons{
  margin: 0
}

