
.container-form {
  margin: 10px 0 10px 0;
  padding: 0;
}

.no-gutters {
  margin: 5px 0 5px 0;
  padding-right: 15px;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}