  .topbar {
    backface-visibility: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 16px;
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    z-index: 1;
    box-shadow: 0px 1px 3px 0px #dadada;
  }
  
  .topbar-logo {
    display: inline-block;
    height: 40px;
    padding: 0;
    justify-content: left;
  }

  .topbar-title {
    height: 40px;
    color : #A2228F;
    font-size: 20px;
    font-family: 'Carter One', cursive;
    margin-left: 5px;
    pointer-events: none;
  }
  
  .menu {
    position: absolute;
    right: 0;
    margin-right: 3%;
    height: 45%;
    width: 3vw;
  }

  .menu-icon {
    cursor: pointer;
    width: 2vw;
  }
  